header {
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;

    img {
        padding-top: 30px;
        height: 70px;
        width: 70px;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        color:#ffffff; 
        text-decoration:none; 
        cursor:pointer;  
    }

    /* Style de base pour le conteneur */
    .menu-container {
        position: relative;
        display: inline-block;
    }

    /* Style du bouton */
    .menu-button {
        height: 75px;
        background-color: #131313;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        position: relative;
        top: -28px;

    }

    /* Style de la liste déroulante */
    .menu-dropdown {
        display: none;
        position: absolute;
        top: 103px;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Liens dans le menu */
    .menu-dropdown a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Changement de couleur au survol */
    .menu-dropdown a:hover {
        background-color: #ddd;
    }

    /* Afficher le menu au survol */
    .menu-container:hover .menu-dropdown {
        display: block;
    }

    /* Style bouton au survol */
    .menu-button:hover {
        background-color: #dbdbdb;
    }
}