*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
  }

hr{
    width: 80%;
    margin: 20px auto;
    border: none;
    height: 1.3px;
    background-color: rgb(86, 86, 86);
    
}

.content-container {
    display: flex;
    align-items:start;
    
    #bannière {
        display: flex;
        flex-direction: column;
        

        img {
            max-height: 200px;
            width: 1200px;
            object-fit: cover;          
        }

        h1 {
            color: white;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            font-size: 70px;
        }
        
        margin-bottom: 70px;
        
    }

    .titre{
        font-size: 35px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-top: 20px;
    }

    /* ACTUALITÉ  */
    .titre-image{
        max-width: 230px;
        text-align: center;
        h3{
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 10px;

        }

        img{
            height: 180px;
            width: 180px;
            border-radius: 50px;
            transition: transform .3s ease
        }

        img:hover {
            transform: scale(1.1);
        }

    }

    p{
        max-width: 750px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .actualité{
        display: flex;
    }

    /* DISCOGRAPHIE */

    .album-list {
        margin-top: 50px;
        .album-card {
            background-color: blue; /* COULEUR PAR DEFAUT */
            display: flex;
            margin-top: 10px;
            margin-bottom: 30px;
            padding: 20px;
            margin-right: 80px;
            border-radius: 10px; /* Bord arrondis */


            .sous-titre {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 50px;
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 10px;
                margin-left: 15px;
            }

            img{
                height: 180px;
                width: 180px;
                transition: transform .3s ease;
                
            }

            img:hover {
                transform: scale(1.1);
            }

            

        }

    } 
    /* COULEURS PAR ALBUM */
    #bastard {
        background: linear-gradient(90deg, rgba(221,9,25,1) 0%, rgba(2,2,47,0.01) 71%);
    }
    #goblin {
        background: linear-gradient(90deg, rgba(9,188,221,1) 0%, rgba(2,2,47,0.01) 71%);
    }
    #wolf {
        background: linear-gradient(90deg, rgba(151,239,255,1) 0%, rgba(2,2,47,0.01) 71%);
    }
    #cherrybomb {
        background: linear-gradient(90deg, rgba(255,33,71,1) 0%, rgba(2,2,47,0.01) 71%);
    }
    #flowerboy {
        background: linear-gradient(90deg, rgba(255,169,13,1) 0%, rgba(2,2,47,0.01) 71%);
    }
    #igor {
        background: linear-gradient(90deg, rgba(255,127,200,1) 0%, rgba(2,2,47,0.01) 71%);
    }
    #callmeifyougetlost {
        background: linear-gradient(90deg, rgba(255,242,176,1) 0%, rgba(2,2,47,0.01) 71%);   
    }
    #chromakopia {
        background: linear-gradient(90deg, rgba(13,133,72,1) 0%, rgba(2,2,47,0.01) 71%);
    }

    /* Event  */

    #liste-event {

        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-content: flex-end;
        

        .event {
            display: flex;
            background-color: rgb(46, 46, 46);
            justify-content: center;
            flex-direction: column;
            margin-left: 20px;
            margin-bottom: 30px;
            width: 300px;
            height: 500px;
            border-radius: 10px;

            transition: transform .3s ease;
            

            img {
                display: flex;
                align-self: center;
                margin-top: 20px;
                margin-bottom: 10px;
                height: 400px;
                width: 250px;
                object-fit: cover;
                
            }

            p {
                display: flex;
                align-self: center;
                color: white;
                font-size: 18px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: bold;
            }
        }

        .event:hover {
            transform: scale(1.1);
        }
    }

    /* Galerie d'image  */
    .galerie { 
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        background-color: rgb(46, 46, 46);
        border-radius: 10px;
        width: 1200px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px 1px;

        img {
            max-height: 200px;
            width: auto;
            transition: transform .3s ease;
            transition: filter .5s ease;
        }

    }

    .galerie:hover {
        img:hover {
            transform: scale(1.01);
            z-index: 1;
        }
        img:not(:hover) {
            filter: blur(3px);
        }
    }

    /* Videos */
    .section-video{

        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        background-color: rgb(46, 46, 46);
        border-radius: 10px;
        width: 1200px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;


        p {
            max-width: 750px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            margin-top: 10px;
        }
       
        .video {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
            
        }

        img{
            max-height: 200px;
            width: 300px;
            transition: transform .3s ease;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    #liste-liens {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 15px;
        border-radius: 10px;
        max-width: 750px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;

        .lien {
            a {
                max-width: 750px;
                display: flex;
                margin-left: 10px;
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            background-color: rgb(46, 46, 46);
            border-radius: 10px;
            padding: 15px;
            
        }
        
    }
}

#titre-galerie {
    display: flex;

}

body{
    background-color: #131313;
}