.html{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    display: flex;
    justify-content: center;
}
.titre{
    font-size: 80px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
